.vs
.idea
*.vs
*.idea
*.rar
*.zip
*.user
*.ncb
*.pdb
*.exe


server-source/Common/Include/PyScript/Release/*
server-source/Common/Include/PyScript/Debug/*

server-source/DBServer/Release/*
server-source/DBServer/Debug/*

server-source/GameServer/Release/*
server-source/GameServer/Debug/*

server-source/LoginServer/Release/*
server-source/LoginServer/Debug/*